ul.navigation
{
  margin: 0;
  padding: 3px 0;
  white-space: nowrap;
}

body {
  background: #777;
  font-size: 108%;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: auto;
  color: #fff;
}

.navigation li {
  display: inline;
  list-style-type: none;
}

.navigation form {
  display: inline;
  padding: 3px 10px;
  background: #036;
  color: #fff;
}
.navigation input[type="text"] {
  border: none;
  background: #000;
  color: white;
  font-family: monospace;
}

.navigation a {
  padding: 3px 10px;
  color: #fff;
}

.navigation a:link, .navigation a:visited {
  color: #fff;
  background-color: #036;
  text-decoration: none;
}

.navigation a:hover {
  color: #fff;
  background-color: #369;
  text-decoration: none;
}

h1 {
 font-size: 108%;
 background: #036;
 color: #fff;
 font-weight: normal;
 margin: 0;
 padding: 3px 10px;
 font-family: monospace;
 font-weight: bold;
}

textarea {
 font-family: monospace;
 padding: 5px;
 background: #000;
 color: white;
 font-size: 108%;
 border: none;
}